@{
    ViewBag.Title = "About Me";
    ViewBag.Message = "Nathan Morabeto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am a senior at Ohio University and will be going back home to Columbus after graduation.</p>
