@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    10 Milliron St. C6<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    614.230.7932
</address>

<address>
    <strong>Support:</strong>   <a href="nm854615@ohio.edu">nm854615@ohio.edu</a><br />
    
</address>