@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nathan Morabeto</h1>
    <p class="lead">Welcome to my webpage!</p>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>After graduation</h2>
        <p>
            After graduation I will be returning back to Columbus to work for Lower.com a mortgage company in New Albany.
        </p>
        <p><a class="btn btn-default" href="https://lower.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Ohio University</h2>
        <p>
            I am a senior right now majoring in marketing and MIS. <br />
            @Html.ActionLink("Courses", "Index", "Courses")<br />
            @Html.ActionLink("Professors", "Index", "Professors")<br />
            @Html.ActionLink("Students", "Index", "Students")<br />
            @Html.ActionLink("CourseDetails", "Index", "CourseDetails")<br />
        </p>
        <p><a class="btn btn-default" href="https://cob.ohio.edu">Learn more &raquo;</a></p>
    </div>
    
</div>